# Katýlýmcý verileri ve büyük dosyalar
data/results/

# Python geçici dosyalarý
__pycache__/
*.pyc
*.pyo
*.pyd

# Sanal ortam
venv/
.venv/
env/
.env/

# IDE ve editör ayar dosyalarý
.vscode/
.idea/
*.DS_Store

# Büyük medya dosyalarý
static/video.mp4


